[Unit]
Description=Write archey3 to /etc/issue
Before=getty.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/jeff/bin/arch3y

[Install]
WantedBy=multi-user.target 
